<h1
  class="text-8xl font-extrabold w-full text-center text-white/40 select-none absolute -z-10 top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4">
  Guess &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; word
</h1>
